# GPS 采集频率（秒）
gps_request_interval=5

# GPS 上报频率（秒）
gps_send_interval=5

# 城管通 App 自动锁定时间（分钟）
# min=1, max=15, defualt=5
app_auto_locking_interval=2

# 城管通 App 自动退出时间（分钟）
# min=10, max=60, defualt=30
app_auto_exit_interval=10

# �ļ��������϶�Ӧ��Ŀ¼��ID  (手动同步返回)
# http://192.168.20.100:5100/swagger-ui.html#/
# fileCataLogListUsingGET
files_parent_id=1134338445464899584

# ��ͼ��������ļ�Ŀ¼IDӦ���ǲ�ͬ��Ŀ�в�ͬ��ֵ������Ӧ����ȡ�������ϵ����á�