#��֤����
service.oauth.name=oauth
service.oauth.scheme=http
#service.oauth.domain=192.168.20.72:5000
service.oauth.domain=192.168.10.135:5000
service.oauth.prefix=

#�����Ȩ����
service.platform.name=platform
service.platform.scheme=http
#service.platform.domain=192.168.20.72:5200
service.platform.domain=192.168.20.72:5050
service.platform.prefix=/platformApi/

#֧�ַ���
service.digital.basic.name=digital-basic
service.digital.basic.scheme=http
service.digital.basic.domain=192.168.20.72:15010
service.digital.basic.prefix=/basicApi/digital/basic/

#��������
service.digital.question.name=digital-question
service.digital.question.scheme=http
service.digital.question.domain=192.168.10.185:15030
#service.digital.question.domain=192.168.20.130:15030
service.digital.question.prefix=/questionApi/digital/question/

#���ڷ���
service.digital.publics.name=digital-publics
service.digital.publics.scheme=http
#service.digital.publics.domain=192.168.20.72:15020
service.digital.publics.domain=192.168.20.183:15020
service.digital.publics.prefix=/publicsApi/digital/publics/

#�ļ�����
service.files.name=files
service.files.scheme=http
#service.files.domain=192.168.10.23:5004
service.files.domain=192.168.20.183:5100
service.files.prefix=/filesApi/

#gps����
service.gps.name=gps
#service.gps.domain=222.240.205.137:22311
service.gps.domain=192.168.20.72
service.gps.port=8989
service.gps.prefix=/gps/

#��Ϣ����
service.msg.name=msg
#service.msg.domain=222.240.205.137:22307
service.msg.domain=192.168.20.72:5450
service.msg.prefix=/socketApi

#��Ϣ����
service.login.name=login
service.login.scheme=http
#service.login.domain=222.240.205.137:22307
service.login.domain=192.168.10.135:5000
service.login.prefix=

# 忽略鉴权列表
service.ignoreAuth.patterns=*/oauth/*,*/files/*,*/ignoreAuth/*,*/settingConfig/*,*/getByAuthCode/*,*/settingConfigs/*